/*
    Name:     Kimbie (dark)
    Author:   Jan T. Sott
    License:  Creative Commons Attribution-ShareAlike 4.0 Unported License
    URL:      https://github.com/idleberg/Kimbie-highlight.js
*/

[data-theme="light"]
  :root {
    --hl-color: #d3af86;
    --hl-bg: #171717;
    --hltools-bg: #1a1a1a;
    --hltools-color: #a3adaf;
    --hlnumber-bg: #272626;
    --hlnumber-color: #a3adaf;
}

[data-theme="light"]
  #article-container figure.highlight .hljs {
    background: #171717;
    color: #d3af86;
}

/* Kimbie Comment */
[data-theme="light"]
  .hljs-comment,
  .hljs-quote {
    color: #d6baad;
}

/* Kimbie Red */
[data-theme="light"]
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-meta {
    color: #dc3958;
}

/* Kimbie Orange */
[data-theme="light"]
  .hljs-number,
  .hljs-built_in,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-deletion,
  .hljs-link {
    color: #f79a32;
}

/* Kimbie Green */
[data-theme="light"]
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #889b4a;
}

/* Kimbie Purple */
[data-theme="light"]
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-function {
    color: #98676a;
}

/* Kimbie Yellow */
[data-theme="light"]
  .hljs-title,
  .hljs-section,
  .hljs-attribute {
    color: #f06431;
}

[data-theme="light"]
  .hljs-emphasis {
    font-style: italic;
}

[data-theme="light"]
  .hljs-strong {
    font-weight: bold;
}