/* 默认情况下缩进左侧66px，只留一点箭头部分 */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
}
/* 鼠标点击时左侧缩进归零，完全显示按钮 */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:click {
  left: 0 !important;
}

/* 颜色配置 */
/*歌单背景 */
[data-theme="dark"]
  .aplayer{
    background: rgba(43,43,43,0.85);
  }
/* 鼠标选取背景 */
[data-theme="dark"]
  .aplayer-list li:hover{
    background: rgba(55,55,55,0.85) !important;
  }
/* 正在播放的歌曲的背景 */
[data-theme="dark"]
  .aplayer-list-light{
    background:rgba(63,63,63,0.9) !important;
  }
/* 下方主体 */
[data-theme="dark"]
  .aplayer-body{
    background:rgba(33,33,33,0.85) !important;
  }
/* 伸缩按钮 */
[data-theme="dark"]
  .aplayer-miniswitcher{
    background:rgba(60,60,60,0.4) !important;
  }
/* 歌曲名称 */
[data-theme="dark"]
  .aplayer-title{
    color: #ffffff;
  }
[data-theme="dark"]
  .aplayer-list-title{
    color: #c8c8c8;
  }
/* 歌手信息 */
[data-theme="dark"]
  .aplayer-author{
    color: #b3b3b3 !important;
  }
/* 列表歌手信息 */
[data-theme="dark"]
  .aplayer-list-author{
    color: #c8c8c8 !important;
  }
/* 列表序号 */
[data-theme="dark"]
  .aplayer-list-index{
    color: #dcdcdc !important;
  }
/* 封面透明度 */
[data-theme="dark"]
  .aplayer-pic{
    opacity: 1;
  }
/* 按钮填充 */
[data-theme="dark"]
  .aplayer-icon path{
    fill: rgba(203,203,205, 0.85) !important;
  }
/* 按钮选择 */
[data-theme="dark"]
  .aplayer-icon:hover path{
    fill: rgb(255,255,255) !important;
  }
/* 进度条-已播放 */
[data-theme="dark"]
  .aplayer-played{
    background: rgba(216,65,65,0.85) !important;
  }
/* 进度条-已加载 */
[data-theme="dark"]
  .aplayer-loaded{
    background: rgba(129,129,129,0.85) !important;
  }
/* 进度条-按钮 */
[data-theme="dark"]
  .aplayer-thumb{
    background: rgba(236,65,65,0.85) !important;
  }